		:root{
			--headerBg:#394263;
			--mainBg:#eaedf1;
			--sidenavBg:#394263;
		}
		
		*{
			font-family:  sans-serif;
			color:#777777;
			box-sizing: content-box !important;

		}
		html,body{
			margin: 0;
			padding: 0;
			
		}
		.grid-container{
			display: grid;
			grid-template-rows: 50px 1fr 50px;
			grid-template-areas: 
				"header"
				"main"
				"footer";
			height: 100vh;
			
		}
		.header{
			grid-area: header;
			background-color: var(--headerBg);
		}
		.sidenav{
			grid-area: sidenav;
			display: flex;
			flex-direction: column;
			background-color: #313854;
			display: none;
		}
		.main{
			grid-area: main;
			background-color: var(--mainBg);
		}
		.footer{
			grid-area: footer;
			background-color: ;
		}
		.header,.footer{
			display: flex;
			align-items:center;
			justify-content: space-between;
			padding: 0 16px;
		}
		.header__avatar{
			justify-content: space-between;
			height: auto;
			width: 60px;
			display: flex;
			align-items: center;
		}
		.header__avatar img{
			height: 40px;
			width: 40px;
			border-radius: 50%;

		}
		.profileDrop{
			color:;
			cursor: pointer;
		}
		.sidenav__list{
			padding: 0;
			margin-top: 10px;
			list-style-type: none;
			margin-bottom: 0 !important;

		}
		.sidenav__list-item{
			padding: 10px 10px 10px 30px;
			color: #ddd;

		}
		.sidenav__list-item:hover{
			background-color: #313854;
			cursor: pointer;
			
		}
		.main-header_heading{
			display: flex;
			justify-content: space-between;
			padding: 0px;
			margin: 0px;
			height: 220px;
			background-color: cadetblue;
			color: slategray;
			background-image: url("../images/bg3.png");
			background-size: cover;
		}
		.main-header_heading_blur{
			height: 150px;background-color: rgba(0,0,0,0.3) !important;width: 100%;
			display: inline-block;
		}

		.main_header_heading_blur_task{
			padding-left: 0px;
			text-align: center;
			display: inline-block;
			margin-left: 20px;
			text-align: center;
		}
		.main_header_heading_blur_task:nth-child(1){
			padding-top: 10px;
			display: block;
			margin-left: 0px;
			margin-bottom: 20px;
		}
		.main_header_heading_blur_task h3{
			font-size: 21px;
			margin-bottom: 1px;
			font-weight: bold;
		}
		.main_header_heading_blur_task p{
			font-size: 14px;
		}
		.main_header_heading_blur_task div{
			font-size: 14px;
		}
		.main_header_heading_blur_task label{
			font-size: 13px;
			font-weight: bold;
		}

		.main_header_heading_blur_task:nth-child(1){
			text-align: left;
			padding-left: 10px;
		}
		
		.main_header_heading_blur_task label,.main_header_heading_blur_task h3,.main_header_heading_blur_task p,.main_header_heading_blur_task div,.main_header_heading_blur_task i{
			color:white;
		}
		
		.main-header_update{
			/*display: flex;
			justify-content: space-between;*/
			padding: 20px;
			margin: 20px;
			height: auto;
			background-color: #ffffff;
			color: #e67e22;
			border: 1px solid #ddd;
		}
		.main-header_update .alerts{
			padding: 10px;
			word-break: break-all;


		}
		.main-header_update .alerts .alert{
			height: auto;

			border:0px solid red;
			padding: 3px;
			padding-left: 20px;
			background-color: #fff3cd;
		}
		.main-header_update .alerts .alert p{
			font-size: 15px;
			color: red;
		}
		.main-overview{
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
			grid-auto-rows:94px;
			grid-gap: 20px;
			margin:20px;

		}
		.overviewcard{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
			background-color: #ffffff;
			transition: all 0.5s;
			border: 1px solid #ddd;
		}
		.overviewcard:hover{
			-webkit-box-shadow: 0px 11px 18px 0px rgba(0,0,0,0.07);
			-moz-box-shadow: 0px 11px 18px 0px rgba(0,0,0,0.07);
			box-shadow: 0px 11px 18px 0px rgba(0,0,0,0.07);
		}
		.overviewcard__icon{
			color: white;
			width: 40px !important;
			height: 40px !important;
		}
		.overviewcard:nth-child(1) .overviewcard__icon{
			font-size: 40px;
			background-color: #e67e22;
			border-radius: 50%;
			padding: 12px;
			text-align: center;
		}
		.overviewcard:nth-child(2) .overviewcard__icon{
			font-size: 40px;
			background-color: #27ae60;
			border-radius: 50%;
			padding: 12px;
			text-align: center;
		}
		.overviewcard:nth-child(3) .overviewcard__icon{
			font-size: 40px;
			background-color: #e74c3c;
			border-radius: 50%;
			padding: 12px;
			text-align: center;
		}
		.overviewcard:nth-child(4) .overviewcard__icon{
			font-size: 40px;
			background-color: #af64cc;
			border-radius: 50%;
			padding: 12px;
			text-align: center;
		}
		.overviewcard__info{
			text-align: center;
			align-items: center;
		}
		.overviewcard__info h6{
			color:#1bbae1;
			font-size: 16px;
			margin: 0;

		}
		.overviewcard__info p{
			font-size: 14px;
			color: #777777;
		}
		
		.main-cards{
			column-count: 1;
			column-gap: 10px;
			margin: 20px;
			
		}
		.card{
			display: flex;
			flex-direction: column;
			align-items: ;
			/*width: 100%;*/
			background-color: #ffffff;
			margin-bottom: 20px;
			-webkit-column-break-inside:avoid;
			padding: 20px;
			box-sizing: border-box;
		}
		.card:nth-child(2),.card:nth-child(3){
			height: 250px;
			

		}
		/*non mobile styles breakthrough*/

		@media only screen and (min-width: 46.875em){
			/*show the side nav*/
			.grid-container{
				grid-template-columns: 200px 1fr; /*show side nav for non mobile*/
				grid-template-areas: 
				"sidenav header"
				"sidenav main"
				"sidenav footer";
			}
			.sidenav{
				display: flex;
				flex-direction: column;
			}
			.main-header_heading_blur{
				height: 150px;background-color: rgba(255,255,255,0.2);width: 100%;
				display: flex;
				display: flex;
				align-items: center;
				justify-content:  space-around;
			}
			.main_header_heading_blur_task h3{
				font-size: 19px;
			}
			.main_header_heading_blur_task label{
				font-size: 35px;
				font-weight: bold;
			}
			.main_header_heading_blur_task p{
				font-size:16px;
			}
			.main_header_heading_blur_task:nth-child(1){
				padding-top: 10px;
				display: inline-block;
				margin-left: 0px;
				margin-bottom: 20px;
			}
		}


		/*medium sized screeb breakpoint (tables 1050px)*/
		@media only screen and (min-width: 65.625em){
			.main-cards{
				column-count: 1;

			}
			.sidenav{
				display: flex;
				flex-direction: column;
			}
			.main_header_heading_blur_task h3{
				font-size: 19px;
			}
			.main_header_heading_blur_task p{
				font-size: 14px;
			}
			.main_header_heading_blur_task div{
				font-size: 16px;
			}
			.main_header_heading_blur_task label{
				font-size: 23px;
				font-weight: bold;
			}
		}

		.menu-icon{
			position: fixed;
			display: flex;
			top: 5px;
			left: 10px;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			z-index: 1;
			cursor: pointer;
			background-color: #DADAE1;
			padding: 12px;
		}
		.header__search{
			margin-left: 42px;

		}
		/*mobile first  sidenav */
		.sidenav{
			grid-area: sidenav;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 200px;
			position: fixed;
			overflow-y: auto;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			z-index: 2;
			background-color: var(--sidenavBg);
			transform: translateX(-245px);
			transition: all .6s ease-in-out;
		}
		.sidenav.active{
			transform: translateX(0);
		}
		.sidenav__close-icon{
			position: absolute;
			visibility: visible;
			top: 8px;
			right: 12px;
			cursor: pointer;
			color: #ddd;


		}
		@media only screen and (min-width: 46.875em){
			.sidenav{
				position: relative;
				transform: translateX(0);
			}
			.sidenav__close-icon{
				visibility: hidden; ;
			}
		}
		.sidenav__sitename{
			height: 50px;
			display: flex;
			align-items: center;

		}

		.sidenav__sitename_name{
			padding-left: 10px;
			color: #ffffff;

		}
		.sidenav__sitename_name i{
			color: #ffffff;
		}
		.sidenav__sitename_name label{
			font-weight: bold;font-size: 19px;color: white;
		}
		.sidenav__siteuser{
			height: 90px;
			background-color: #4d5573;
		}
		.sidenav__siteuser{
			display: flex;
			align-items: center;

		}
		.sidenav__siteuser__image img{
			height: 60px;
			width: 60px;
			background: green;
			border-radius: 50%;
			margin-left: 10px;
			margin-right: 10px;
			border:2px solid white;

		}
		.sidenav__siteuser__username label{
			color:white;
			font-size: 14px;
		}
		.sidenav__list p{
			text-transform: uppercase;
			padding-left: 10px;
		}
		.sidenav__list p i{
			float: right;
			margin-right: 20px;
		}
		/*.styled-select {
		  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
		  height: 29px;
		  overflow: hidden;
		  width: 240px;
		}
		.styled-select select {
		  background: transparent;
		  border: none;
		  font-size: 14px;
		  height: 29px;
		  padding: 5px;
		  width: 268px;
		}
		.semi-square {
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;
		  border-radius: 5px;
		}

		.slate {
		  background-color: #ddd;
		}
		.green {
		  background-color: #779126;
		}
		.blue {
		  background-color: #3b8ec2;
		}

		.blue select {
		  color: #fff;
		}

		#mainselection select {
		  border: 0;
		  color: #eee;
		  background: transparent;
		  font-size: 20px;
		  font-weight: bold;
		  padding: 2px 10px;
		  width: 378px;
		  *width: 350px;
		  *background: #58b14c;
		  -webkit-appearance: none;
		}
		#mainselection {
		  overflow: hidden;
		  width: 350px;
		  -moz-border-radius: 9px 9px 9px 9px;
		  -webkit-border-radius: 9px 9px 9px 9px;
		  border-radius: 9px 9px 9px 9px;
		  box-shadow: 1px 1px 11px #303;
		  background: #58b14c url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
		}
		select#soflow, select#soflow-color {
		  -webkit-appearance: button;
		  -webkit-border-radius: 2px;
		  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		  -webkit-padding-end: 20px;
		  -webkit-padding-start: 2px;
		  -webkit-user-select: none;
		  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
		  background-position: 97% center;
		  background-repeat: no-repeat;
		  border: 1px solid #aaa;
		  color: #555;
		  font-size: inherit;
		  margin: 20px;
		  overflow: hidden;
		  padding: 5px 10px;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  width: 300px;
		}
		select#soflow-color {
		  color: #fff;
		  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
		  background-color: #779126;
		  -webkit-border-radius: 20px;
		  -moz-border-radius: 20px;
		  border-radius: 20px;
		  padding-left: 15px;
		}*/

		.tableControllers{
			display: flex;
			margin-bottom: 20px;
			justify-content: space-between;
		}
		.sidenav__list .active  a, .sidenav__list .active  a i{
		    color: #269ffb;
		}
		.sidenav__list .active {
			background-color: #313854;
		}



		.input {
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid #1bbae1;
            transition: all 1s;
        }

        .input:focus {
            border-bottom: 1px solid #394263;
        }

        a {
            text-decoration: none;
        }

        .sidenav__list-item a {
            color: white;
            display: block;
        }

        .header__avatar {
            position: relative;
        }

        .drop {
            min-height: 60px;
            width: 170px;
            border: 1px solid transparent;
            position: absolute;
            top: 42px;
            right: -10px;
            background-color: white;
            z-index: 10;
            -webkit-box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.8);
            display: none;
        }

        .drop:after {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: inherit;
            top: -11px;
            right: 5px;
            transform: rotate(45deg);
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            z-index: 10;
        }

        .drop .hider {
            height: 100%;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }

        .drop ul {
            list-style-type: none;
            padding-left: 10px;
        }

        .drop ul li {
            font-size: 12px;
            display: block;
            margin-bottom: 10px;
            cursor: pointer;
            color: #394263;
        }

        .drop ul li:hover {
            opacity: 0.6;
        }

        .drop ul li i {
            color: #394263;
            float: right;
            margin-right: 10px;
        }

        .drop ul li a {
            display: block;
        }

        .alert {
            margin-top: 10px;
        }

        .remove {
            display: none;
        }

        #wrapper {
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
            width: auto;
        }

        #wrapper div {
            display: inline-block;
            color: white !important;
        }
        .sidenav__list-item:hover a{
        	color: #269ffb;
        }
        .sidenav__list-item:hover a i{
        	color: #269ffb;
        }
        .sidenav__list-item a{
        	color: #ddd;
        	font-size: 12px;
        }
        .sidenav__list-item a i{
        	float: left;
        	margin-right: 10px;
        	color:#e67e22;
        	font-size: 16px;

        }
        
        
        thead tr th{
            font-size: 12px !important;
            padding-top:10px;
            padding-bottom:10px;
        }
        tfoot tr th{
            font-size: 11px !important;
            padding-top:2px;
            padding-bottom:2px;
        }
        span.logData{
            font-size: 12px;
            text-align: center;
            padding-left: 5px;
        }
        .paginationHolder{
            text-align: right;
        }
        table,td,th{
            border:1px solid lightgray;
        }
        thead tr{
            border-bottom: 2px solid orange;
            background-color: teal !important;
        }
        thead tr th {
            color: white !important;
        }
        .btn-page{
            border:none;
            outline: none;
            background-color: transparent;
            border:1px solid lightgray;
            padding: 5px 12px;
            cursor: pointer;
        }
        .btn-page:hover{
            background-color: teal;
            color: white;
        }
        .btn-page-active{
            background-color: teal;
            color: white;
        }
        #searchInput{
            border:none;
            outline: none;
            border-bottom:1px solid lightgray;
            padding-left: 3px;

        }
        #searchInput:focus{
            border-bottom:1px solid cornflowerblue;
        }
        select{
            border:1px solid lightgray;

        }

        tbody tr:nth-child(even){
            background-color: lightcyan;
        }

        tr:hover,thead tr{
            background-color: lightcyan;
        }
        tbody tr:last-child{
            border-bottom: 2px solid teal;
        }
        .input {
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid #1bbae1;
            transition: all 1s;
        }

        .input:focus {
            border-bottom: 1px solid #394263;
        }

        a {
            text-decoration: none;
        }

        .sidenav__list-item a {
            color: white;
            display: block;
        }

        .header__avatar {
            position: relative;
        }

        .drop {
            min-height: 60px;
            width: 170px;
            border: 1px solid transparent;
            position: absolute;
            top: 42px;
            right: -10px;
            background-color: white;
            z-index: 10;
            -webkit-box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 18px 6px rgba(0, 0, 0, 0.08);
            display: none;
        }

        .drop:after {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: inherit;
            top: -11px;
            right: 5px;
            transform: rotate(45deg);
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            z-index: 10;
        }

        .drop .hider {
            height: 100%;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }

        .drop ul {
            list-style-type: none;
            padding-left: 10px;
        }

        .drop ul li {
            font-size: 12px;
            display: block;
            margin-bottom: 10px;
            cursor: pointer;
            color: #394263;
        }

        .drop ul li:hover {
            opacity: 0.6;
        }

        .drop ul li i {
            color: #394263;
            float: right;
            margin-right: 10px;
        }

        .drop ul li a {
            display: block;
        }

        .alert {
            margin-top: 10px;
        }

        .remove {
            display: none;
        }

        #wrapper {
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
            width: auto;
        }

        #wrapper div {
            display: inline-block;
            color: white !important;
        }
        .sidenav__list-item:hover a{
            color: #269ffb;
        }
        .sidenav__list-item:hover a i{
            color: #269ffb;
        }
        .sidenav__list-item a{
            color: #ddd;
            font-size: 12px;
        }
        .sidenav__list-item a i{
            float: left;
            margin-right: 10px;
            color:#e67e22;
            font-size: 16px;

        }
        .main-cards{

        }
        .profileGrid{
            display: grid;
            /*align-items: center;*/
            /*column-gap: 0px;*/
            /*column-count: 1;*/


        }
        .leftContainerProfile{
            height: 100px;
            width:100px;
            border:1px solid lightgray;
            /*display: inline;*/
            
        }
        .rightContainerProfile{
            /*width: calc(100% - 300px);*/
            height: auto;
            /*padding-right: 20px;*/

            
        }
        .rightContainerProfile ul{
            list-style: none;
            padding-left: 0;
        }
        .rightContainerProfile ul li{}
        .rightContainerProfile ul li p{
            font-size: 14px;
            margin-bottom: 5px;
            color:mediumslateblue;
        }
        .rightContainerProfile ul li input{
            width: 100%;
            border:1px solid lightgray;
            height: 30px;
            padding-bottom: -5px;
            min-width: 200px;
        }

        .button{
            height: 30px;
            width: auto;
            padding: 4px 8px;
            background: #269ffb;
            margin-top: 20px;
            border:none;
            outline: none;
            cursor: pointer;
            color: white;
        }
        .button:hover{
            opacity: 0.8;
        }
        .button i{
            color: orange;
        }