<%- include includes/header ; %>
<link rel="stylesheet" type="text/css" href="assets/css/buttons.css">
	<div class="wrapper" style="margin-top: 100px;">
		<div style="text-align: center;">
			<h1 style="font-size: 222px;text-align: center;">500</h1>
			<p style="text-align: center;">Server error,report this to the site owener if it is repeating. try again later.<br/> If your are site owner consider hosting services</p><br />
			<button class="back btn404" onclick="document.location.href='/login'">SIGN IN.</button>
			<!--<button class="button">Button</button>
			<button class="back">Back</button>
			<button class="site">2</button>
			<button class="site">1</button> -->
		</div>
		
	</div>
</body>
</html>