<%- include includes/header ;%>
<link rel="stylesheet" type="text/css" href="assets/css/buttons.css">
	<div class="wrapper" style="margin-top: 100px;">
		<div style="text-align: center;padding-top:130px;">
			<p style="text-align: center;"><%= data  ;%></p><br />
			<button class="back btn404" onclick="document.location.href='/logout'">SIGN IN.</button>
			
		</div>
		
	</div>
</body>
</html>