
	
	<%- include includes/header %>
	<style type="text/css">

		* {
			margin: 0;
			padding: 0;
			text-decoration: none;
			/*font-family: monospace;*/
			font-size: 13px;
		}
		body,html{
			
			margin: 0;
			padding: 0;
			background-color: white;
		}
		.header{
			position: fixed;
			top: 0;
			z-index: 200;
			left: 0;
			background-color: white;
			width: 100%;
			height: 50px;
		}
		.wrapper{
			min-height: 100vh;
			width: 100%;
			background: white;
			background-image:url('assets/images/earth-lights-world-41949.jpg');
			/*position: relative;*/
			padding-top: 50px;
			background-size: auto 100%;
			background-position: 0px 50px;
			background-repeat: no-repeat;
			
		}
		/*.wrapper:before{
			content: '';
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.53);
			z-index: 20;
			position: absolute;
			top: 0;
			left: 0;

		}*/
		
		.heroHead{
			color: white;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;


		}
		.textContainer p{
			font-size: 14px;
			color:white;
			/*font-style: italic;*/
			/*text-transform: capitalize;*/
			font-weight: 500;
			line-height: 20px;
			margin-bottom: 10px;
			position: relative;
		}
		.textContainer p:before{
			background-color: orange;
			content: '';
			width: 100px;
			height: 2px;
			position: absolute;
			top: -10px;
			left: 0;
		}
		.form {
			
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.form input,.form button{
			height: 35px;
			border:none;
			outline: none;
			margin-right: 10px;
			margin-bottom: 10px;
			padding-left: 5px;
			font-size: 12px;

			border-radius: 1px;
		}
		.form input{
			width: 220px;
			color:#1fa2dc !important;
			padding-left: 10px;
			border:1px solid red;
			border: 1px solid #0081c9;

			background: #041d1d !important;
		}
		.form input:invalid{
			outline: 0px !important;
			border: 1px solid #0081c9 !important;
			border-bottom: 1px solid red !important;
		}

		/*blue color #1fa2dc;
		green color #4aba70*/
		/*Black color #3a3e47*/
		.form button{
			height: 36px;
			background-color: #0081c9;
			color:white;
			cursor: pointer;
			border:1px solid red;
			border: 1px solid #0081c9 !important;
			background: #041d1d !important;
			padding: 5px;
		}
		.start{
			position: absolute;
			height: 30px;
			width: 220px;
			background-color: #0081c9;
			top: -60px;
			text-align: center;
			color:white;
			padding-top: 10px;
			z-index: 1;
		}
		.start:before{
			content: '';
			position: absolute;
			bottom: -15px;
			height: 30px;
			left: 7px;
			width: 30px;
			background-color: inherit;
			transform: rotate(45deg);
			z-index: 1;
		}
		.msg{
			position: fixed;
			bottom: 20px;
			right: 20px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			/*background-color: #4aba70;*/
			z-index: 200;
			/*background-image:url("assets/images/IMG_20190221_112417.jpg");*/
			background-size: 100% 100%; 
			/*border:1px solid lightgray;*/
		}
		.msg:hover{
			opacity: 0.6;
		}
		.msg .content{
			height: 40px;
			width: 160px;
			background-color: white;
			top: -45px;
			right: 10px;
			position: absolute;
			z-index: 200;
			border-radius: 5px;
			border: 1px solid lightgray;
			display: none;

		}
		.nav_ul{
			list-style-type: none;
			padding-top: 17px;
		}
		.nav_ul li.active a{
			border-bottom: 2px solid white;
		}
		.nav_ul li {
			font-family: sans-serif;
			display: inline;
			margin-left: 20px;
			
		}
		.nav_ul li a:hover{
			border-bottom: 2px solid white;
		}
		.nav_ul li a{
			font-size: 11px;
			cursor: pointer;
			/*border-bottom: 2px solid #1fa2dc;*/
			padding-bottom: 15px;
			letter-spacing: 2px;
			transition: all 0.1s;
			color:white;
			margin: 0;
			font-family: sans-serif;
		}
		.nav{
			float: right;
			padding-right: 50px;
			position: relative;
			background-color: #0081c9;
			height: 100%;
			padding-left: 35px;
		}
		.logo{
			position: absolute;top: 5px;
			left: 20px;
			width: 40px;
			height: 40px;
		}
		.redHome{
			border-bottom: 1px solid red !important;
			background: #041d1d !important;
		}
		.exp{
			max-width: 350px;
			min-width: 250px;
			height: auto;
			border: 0px solid aliceblue;
			display: inline-block;
			margin: auto;
			text-align: ;
			word-break: break-all;
			margin-bottom: 10px;
			padding-top: 10px;

		}
		.exp label i{
			margin-left: 20px;
			font-size: 26px !important;
			color:  #0081c9 !important;
		}
		.exp h1{
			margin-left: 20px;
			font-weight: bold;
			font-size: 18px;
			margin-top: 30px;
			font-family: sans-serif;

		}
		.exp p{
			color:white;
			text-align: left;
			padding: 20px;
			font-family: sans-serif;
		}
		#footer{
			display: grid;
			justify-content:space-around;
			padding-right: 20px;
		}
		#footer > div{
			margin-bottom: 20px;
			padding-left: 20px;

		}
		.priceHeadStyle {
		  text-align: center;
		  font-family: 'Lato', sans-serif;
		  font-size: 25px;
		  line-height: 32px;
		  padding-top: 0px;
		}
		.exp{
			margin-top: 50px;
		}
		#result{
			position: relative;
			text-transform: capitalize;
			/*color: cornflowerblue;*/
			font-size: 20px;
		}
		#result:after{
			content: '|';
			height: 20px;
			width: 10px;
			animation-name: dunda;
			animation-delay: 0.2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-duration: 0.3s;
		}
		@keyframes dunda{
			0%{opacity: 0;}
			100%{opacity: 1;}
		}
		.joinUs{
			padding: 10px 18px; 
			border:none;
			background-color: #0081c9;
			color: white;
			font-weight: 600;
			border-radius: 50px;
		}
		.joinUs:hover{
			background-color: orange;
		}
		@media(min-width: 600px){
			#footer{
				display: flex;
				justify-content:space-around;
			}
			#footer > div{
				margin-bottom: 0px;
				padding-left: 0px;
			}
			.joinUs:hover{
				background-color:  #0081c9;
			}
			.textContainer{
				display: flex;
				justify-content:  space-around;
				max-width: 90% !important;
				margin-top: 0px !important;
				padding-top: 0 !important;
			}
			.wrapper{
				margin-top: 0 !important;
			}
			.heroHead{
				font-size: 30px !important;
			}
			.holderOfTextHero p{
				font-size: 16px !important;
				margin-bottom: 50px !important;
			}
			.holderOfTextHero{
				width: 350px;
			}
			.joinUs{
				padding: 20px 28px;
				font-size: 21px;
				margin-top: 50px !important;
				background-color: orange;
			}
			.phoneImageHero{
				max-width:400px !important;
				margin-top: -100px;
			}
		}



	</style>
	<div class="wrapper">
		<div class="textContainer" style="position: relative !important;">
			<div class="holderOfTextHero">
				<h2 class="heroHead" style="text-align: left;" id="result">Routing-Api </h2><br /><br />
				<p>Need help finding great routing api? 
					One and only Rwanda map routing service.
					You came to the right place</p>
				<br />
				<!-- <div style="height: 2px;width: 200px;background-color:#1fa2dc "></div> -->
				<div class="form" style="display: none;">
					<div class="start">
						<div style="position: absolute;top: 0;left: 0;width: 230px;background-color: #0081c9;z-index: 10;height: 100%;padding-top: 0px;">
						<p style="padding-top: 10px;">Join us now.</p>
					</div>
					</div>
					<input type="text" name="name" placeholder="Your Name" autocomplete="off" class="name">
					<input type="text" name="email" placeholder="Your Email" autocomplete="off" class="email">
					<button class="startTrial">Start Now</button>
				</div>
				<a href="/register" class="joinUs">Join us now</a>
			</div>
			
			<div style="margin-top: 20px;">
				<img src="assets/images/phone.png" class="phoneImageHero" style="max-width:280px;height: auto; ">
			</div>
		</div>

	</div>
	<!-- <div class="msg" style="text-align: center;cursor: pointer;">
		<div class="content" style="display: block;">
			<h1 style="letter-spacing: 0.3px;padding-top: 10px;font-family: sans-serif;text-align: center;">Hello, can I help?</h1>
		</div>
		<i class="fa fa-comment" style="color: orange;font-size: 30px;text-align: center;margin-top: 5px;"></i>
	</div> -->
	<div style="height: auto;width: 100%;background-color: hotpink;padding-top: 50px;padding-bottom: 100px;">
		<div style="padding: 30px;text-align: center;">

			<h2 style="text-align:center;font-size: 25px;color: white">Why Us?</h2><br />
			<p style="text-align:center;margin-bottom: 20px">So question would be why not us. we are the thing which will make sure that it satsifies you .</p>

			<div class="exp">
				<label>
					<i class="fa fa-gear" style="font-size: 70px;color: green"></i>
				</label>
				<h1 class="priceHeadStyle">Speed</h1>
				<p>Speed in where you are going is one of our most priority, we have to make sure that our API is receiving big amount and the same on delivering as customer wishes plus extra speed of the connection</p>
			</div>
			<div class="exp">
				<label>
					<i class="fa fa-thumbs-up" style="font-size: 70px;color: green"></i>
				</label>
				<h1 class="priceHeadStyle">Accuracy</h1>
				<p>Our accuracy is based on the all the different method that has been executed in the time we were building this services, so there is much sure of our services that you are about to explore.</p>
			</div>
			<div class="exp">
				<label>
					<i class="fa fa-money" style="font-size: 70px;color: green"></i>
				</label>
				<h1 class="priceHeadStyle">Price</h1>
				<p>Also about our price, we made sure that every company and every developer will afford it in any manner
				,with also giving them the capacity to choose between the services they need</p>
			</div>
						
		</div>
	</div>
	<div id="pricing" style="height: auto;width: 100%;background-color: lavenderblush;padding-top: 50px;text-align: center;padding-bottom: 100px;">
			<!-- <p style="font-size: larger;color: #1fa2dc;margin-bottom: 50px;">Pricing</p> -->
			<h2 style="text-align:center;font-size: 25px;">Pricing</h2><br />
			<p style="text-align:center;padding: 20px">Choose what suits for you,and also not that you can upgrade or downgrade whenever you wish.</p>

			<div class="price-table-wrapper">
			  <div class="pricing-table">
			    <h2 class="pricing-table__header">- DEVELOPER -</h2>
			    <h3 class="pricing-table__price">0RWF</h3>
			    <a class="pricing-table__button" href="#pricing">
			      Join Now!
			    </a>
			    <ul class="pricing-table__list">
			      <li>1 year free trial</li>
			      <li>1,000 transactions</li>
			      <li>24 hour support</li>
			    </ul>
			  </div>
			  <div class="pricing-table featured-table">
			    <h2 class="pricing-table__header">- BUSINESS -</h2>
			    <h3 class="pricing-table__price">85,000RWF</h3>
			    <a class="pricing-table__button" href="#pricing">
			      Join Now!
			    </a>
			    <ul class="pricing-table__list">
			      <li>40 day free trial</li>
			      <li>100,000 transactions</li>
			      <li>21% discount</li>
			      <li>24 hour support</li>
			    </ul>
			  </div>
			  <div class="pricing-table">
			    <h2 class="pricing-table__header">- PAY-AS-YOU-GO -</h2>
			    <h3 class="pricing-table__price">0-WISH</h3>
			    <a class="pricing-table__button" href="#pricing">
			      Join Now!
			    </a>
			    <ul class="pricing-table__list">
			      <li>10 day free trial</li>
			      <li>1,000 transactions</li>
			      <!-- <li>0% discount</li> -->
			      <li>24 hour support</li>
			    </ul>
			  </div>
			</div>
	</div>
	<div id="pricing" style="min-height: 0vh;width: 100%;background-color: cornflowerblue;padding-top: 0px;text-align: center;padding-bottom: 0px;margin-bottom: 10px;">

	</div>
	<div style="height:auto !important;width: 100%;background-color: white;padding-top: 20px;padding-bottom: 10px;box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);">
			<div id="footer">
				<div>
					<p style="padding-left: 0px;display: inline-block;">
						<label style="display: block;font-size: 13px;line-height: 20px;font-weight: bold;font-family: sans-serif;">YRoutingAPI</label>
						<img src="assets/images/y-logo.png" style="height: 100px;width: 100px;">

					</p>
				</div>
				<div>
					<label style="display: block;font-size: 13px;line-height: 20px;font-weight: bold;font-family: sans-serif;">Smart Locate</label><br />
					<ul class="footerList" style="margin-left: 0px;padding-top: 0px;list-style-type: none;">
						<li><a href="/documentation"> Login</a></li>
						<li><a href="/about"> About us</a></li>
						<li><a href="/about"> Contact us</a></li>
						<li><a href="/documentation"> Documentation</a></li>
						<li><a href="/products"> Other products</a></li>
						
						<li><a href="/products"> Create Account</a></li>
					</ul>
				</div>
				<div>
					<label style="display: block;font-size: 13px;line-height: 20px;font-weight: bold;font-family: sans-serif;">Contact Us</label><br />
					<p style="font-size: 13px;line-height: 20px;font-family: sans-serif;">Tell : (250) 72 871 379</p>
					<p style="font-size: 13px;line-height: 20px;font-family: sans-serif;">Email : niyobuhungiro.yves@gmail.com</p>
				</div>
			</div>
			<div style="padding-left: 20px;">
				<p style="font-size: 13px;font-family: sans-serif;display: block;margin-top: 50px;width: 100%;text-align: center;">&copy;CopyRight 2019, cantrytech Association</p>
			</div>
			
	</div>
<script type="text/javascript" src="assets/js/particles.min.js"></script>

<script type="text/javascript">
	var startTrial=document.querySelector(".startTrial");
	function selector(el){
			return document.querySelector(el);
		}
	startTrial.addEventListener("click",()=>{

		let name=selector(".name")
		let email=selector(".email")
		if(name.value.trim() === ""){
			name.classList.add("redHome")
		}else{
			name.classList.remove("redHome")
		}
		if(email.value.trim() === ""){
			email.classList.add("redHome")
		}else{
			email.classList.remove("redHome")
		}
		if(name.value.trim() !== "" && email.value.trim() !== ""){
			let user={
				name:name.value,
				email:email.value
			}
			user=JSON.stringify(user)
			localStorage.setItem("user",user)
			document.location.href="register"
		}
	})

		// start word typing js

		var int;
		var words=["Welcome!","This is YRouting.com","We are Faster.","We are Easy.","We are cheap.","We are accurate"];
		var currentSlide=0;
		var speed=100;
		function sentence(text,index,reverse){
			var text=text;
			var textIndex=index ? index : 0;
			var reverse=reverse ? reverse : false;
			const draw=(text)=>{
				if(reverse){
					textIndex--;
				}else{
					textIndex++;
				}
				if(textIndex>text.length){
					reverse=!reverse;
					speed=90;
				}else if(textIndex==0){
					reverse=!reverse;
					nextSlide();
					speed=1000;
				}
				var newText=text.substring(0,textIndex)
				slct("#result").innerHTML=newText;
			}
			window.clearInterval(int)
			int=window.setInterval(()=>{
				draw(text)
			},speed)
		}
		const slct=(element)=>{
			return document.querySelector(element)
		}

		const nextSlide=()=>{
			if(words.length==0){
				words=[""];
			}
			sentence(words[currentSlide],0,false)
			currentSlide++;
			if(currentSlide > words.length-1){
				currentSlide=0;
			}
			
		}

		nextSlide();


		
		slct(".add").addEventListener("click",()=>{
			var w=slct(".text").value;
			words.push(w)
			slct(".text").value="";
		})

	
</script>
</body>
</html>