<%- include includes/dashboard/header.ejs ; %>
            <div class="main-header_update">
                <STRONG style="color: #e67e22"><i class="fa fa-warning"></i> System Alerts</STRONG>

                <div class="alerts">
                    <% if (!data.confirmed) { %>
                        <div class="alert some">
                            <p>Please you have to confirm your email,because you won't be accessing all the actities of this system</p>

                        </div>
                        <% }  %>
                           

                </div>
            </div>

            <div class="main-cards">

                <div  class="card" style="border:1px solid lightgray;">
                    <span style="color: slategrey;font-size: 14px;">Dashboard/<u>Token</u></span>
                    <div style="height: auto;padding: 20px;">
                        <div class="alerts">
                            <div class="alert some" >
                                <p style="color: #6f8bff">Use this token in your requests :
                                    <%= data.token %>
                                </p>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>

<%- include includes/dashboard/footer.ejs ; %>
