</main>
        <footer class="footer">
            <div class="footer__copyright" style="font-size: 13px;"> </div>
            <div class="footer__signature" style="font-size: 13px;">&copy;copyright 2019, cantrytech Association</div>
        </footer>
        <div class="login" style="position: fixed;bottom: 10px;right: 10px;border-radius: 0px;height: auto;width: auto;background: #fff3cd;border:1px solid lightgray;padding-left: 10px;padding-right: 10px;cursor: pointer;display: none;transition: all 1s;">
            <p style="font-size: 14px;color: red;">Please you have to login again.</p>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript">
       
    </script>
    
</body>

</html>